
*{
margin: 0;
padding: 0;
box-sizing: border-box;
max-width: 100%;
}

p{
  font-size: 22px;
  font-weight: 500;
  margin-left: 300px;
  margin-right: 300px;
}

 ol li{font-size: 20px;
font-weight: bolder;
margin-left: 300px;
}
iframe , video{
  
  border-color: #fff;
  animation-name: "vid";
  animation-duration: 10s;

}
video:hover{
  margin-bottom: 30px;
  padding-bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
  width: 30vw;
  height: 30vh;
  
}
@keyframes vid{
  from{width: 700px;}
  to{width: 800px;}
}

h1,h2,h3{font-size: 30px;
  font-weight: bolder;
  margin-left: 300px;  
  margin-right: 300px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

i{
  color: rgb(255, 255, 255);
}
header.logo{
  flex: 1;
  color: aliceblue;
  margin-left: 50px;
  text-transform: uppercase;
  font-size: 15px;
}
header .search-box{
  flex: 1;
  position: relative;
}
.fa-search{
  color: white;
}
.search-box input{
  height: 40px;
  width: 400px;
  border: 1px rgb(1, 1, 56) solid;
  outline: none;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  color: rgb(0, 5, 91);
  font-size: 16px;
  text-align: center;
  padding-left: 5px;
}
.search-box button{
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  transform:scale(.9) ;
  background-color:blue;
  margin-left: 500px;

}
header ul{
  flex: 2;
  display: flex;
}
header ul li{
  list-style: none;
  padding-right: 50px;
  padding: 5px;
}
header ul li a{
 text-decoration: none;
 color: rgb(2, 9, 15);
 font-weight: 500;
 text-transform: uppercase;
 padding: 15px 10px; 
 letter-spacing: 0px;
 word-spacing: 5px;
}
#buttonsOFpages{
  padding-right: 50px;
}
#signin{
  position: relative;
  width: 100%;
  list-style: none;
  padding: 0px;
  justify-content: space-between;
  display: flex;
  padding-left: 240px;
  float: right;
  
}
header ul li a:hover{
  border-bottom: 2px solid #d9b99b;

}
header .menu{
  font-size: 2.5em;
  display: none;
}
.sticky{position: sticky;
top: 0px;
background-color: #fff;
}

.foottable {
  width: 50px;
  display: block;
  margin-left: 520px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 20px;

}
section form{
  font-size: 25px;
  text-align: center;
  margin-top: 100px;

}
.subbut{
  text-align: center;
  background-color:cornflowerblue;
  color: #fff;
  font-family: "lato","Helvetic Neue",Helvetica,Arial,san-serif;
  font-size: 18px;
  font-weight: bold;
  padding-inline: 162%;
  margin-right: 100px;
  width: 2.5cm;
  height: 50px;
  border-radius: 4px;
  filter:drop-shadow(2px 7px 5px rgba(0, 0, 0, 0.686))
}
 td input{
  border-color: rgba(86, 89, 176,0.388);
}
.how-first-image{
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 50px;
  width: 40cm;

}
.pricetable{
  text-decoration: none;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-spacing: 2cm;
}
.pricetable td{
  text-decoration: none;
  text-align: center;
  align-items: center;
  font-size: 20px;
  letter-spacing: -1px;
  padding: 10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.price1{
  background-color: rgb(157, 201, 203);
  border-radius: 5%;
  --tw-shadow: 10px 10px 15px -3px rgba(50, 96, 120, 0.753),0 4px 6px -4px #f30c0c1a;
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #c6101000),var(--tw-ring-shadow,0 0 #f5040400),var(--tw-shadow);
}
.price1 a{
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  color: white;
  padding: 1px 5px 5px;
  height: 5px;
  box-sizing: border-box;
  font-weight: bold;
  -webkit-text-stroke-color: aliceblue;
  -webkit-text-stroke-width:.5px;
}
.price2 a{
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  color: white;
  padding: 1px 5px 5px;
  height: 5px;
  box-sizing: border-box;
  font-weight: bold;
  -webkit-text-stroke-color: aliceblue;
  -webkit-text-stroke-width:.5px;
}
.price3 a{
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  color: white;
  padding: 1px 5px 5px;
  height: 5px;
  box-sizing: border-box;
  font-weight: bold;
  -webkit-text-stroke-color: aliceblue;
  -webkit-text-stroke-width:.5px;
}
.price4 a{
  text-decoration: none;
  -webkit-text-stroke-color: aliceblue;
  -webkit-text-stroke-width:.5px;
  font-size: 20px;
  text-align: center;
  color: white;
  padding: 1px 5px 5px;
  height: 5px;
  box-sizing: border-box;
  font-weight: bold;
}
.price2{
  background-color: rgb(157, 201, 203);
  border-radius: 5%;
  --tw-shadow: 10px 10px 15px -3px rgba(50, 96, 120, 0.753),0 4px 6px -4px #f30c0c1a;
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #c6101000),var(--tw-ring-shadow,0 0 #f5040400),var(--tw-shadow);
}
.price3{
  background-color: rgb(157, 201, 203);
  border-radius: 5%;
  --tw-shadow: 10px 10px 15px -3px rgba(50, 96, 120, 0.753),0 4px 6px -4px #f30c0c1a;
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #c6101000),var(--tw-ring-shadow,0 0 #f5040400),var(--tw-shadow);
}
.price4{
  background-color: rgb(157, 201, 203);
  border-radius: 5%;
  --tw-shadow: 10px 10px 15px -3px rgba(50, 96, 120, 0.753),0 4px 6px -4px #f30c0c1a;
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #c6101000),var(--tw-ring-shadow,0 0 #f5040400),var(--tw-shadow);
}
.pricebutton{
  background-color: rgb(107, 144, 145);
   border-radius:7px;
   font-size:30px;
   color: #fff;
   width: 200px;
   padding: 40px;
   text-decoration: none;
   margin-left: 500px;
   margin-right: 400px;
}
.first{
  margin-right: 900px;
  font-size: 6em;
  font-weight: 900;
  position: absolute;
  bottom: 210px;
  left: 16px;  
}
.second{
  color: #7e7979;
  margin-right: 1150px;
  font-size: 1.7em;
  position: absolute;
  bottom: 1vw;
  left: 16px;  
  }
.startnow{
  background-color: rgb(96, 153, 196);
  width: 300px;
  text-align: center;
  margin-right:75%;
  margin-left: 11%;
  border-radius: 20cm;
  font-size: 40px;
  position: absolute;
  bottom: 10px;
  filter:drop-shadow(20px 7px 5px rgba(4, 64, 143, 0.641));
}
.GO{
  background-color: rgb(0, 0, 0);
  width: 30vw;
  color: #fff;
  text-align: center;
  margin-right:70%;
  margin-left: 11%;
  border-radius: 20cm;
  font-size: .5em;
  position: absolute;
  top: 110vh;
  filter:drop-shadow(20px 7px 5px rgba(0, 0, 0, 0.641));
}

.videos1,.videos2{
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 10vw;
  margin-bottom: 1vw;
}
.vid1{
  float: inline-end;
}
.vid2{
float: inline-start;
}
.vid3{
  padding-left: 35vw;
}
.vid4{
  float: inline-end;
}
.vid5{
float: inline-start;
}
.vid6{
  padding-left: 35vw;
}
.foot1{
  background-color: #d9b99b;
  width:100vw;
  height: 75vh;
}
.foot2{
  background-color: #d9b99b;
  width: 500vw;
  height: 80vh;
  border-radius: 0 0 15vw 15vw ;
}

footer{
width: 100vw;
height: 60vh;
background-color: #d9b99b;
margin-top: .1vh;
}
.footpage{
color: rgb(255, 255, 255);
 padding-left: 5vw;
 margin-right: 0vw;
 float: left;
 font-size: 2vw;
 margin-top: .1vh;
}
.footpage a{
text-decoration: none;
color: rgb(0, 0, 0);
}

.footresources{
  margin-left: 0vw;
  font-size: 2vw;
  text-align: center;
  margin-top: .1vh;
}
.footresources a{
  text-decoration: none;
  color:rgb(0, 0, 0);
}
.footpage a:hover,.footresources a:hover{
  color:cornflowerblue;
}
.footcontact{
 color: rgb(255, 255, 255);
 float: right;
 margin-top: -19vh;
 margin-left: 0vh;
 margin-right: 0vw;
 font-size: 2vw;}
